.form-control {
  background-color: #434857;
  border: 0;
  color: #fff;
  padding: 0.75rem;
}

.radio label input:only-child, .checkbox label input:only-child {
  margin-right: 0.75em;
}

.simple_form {
  @extend .m-b-2;
}

abbr[title], abbr[data-original-title] {
  display: none;
}
